<template name="favorites">

    <ul id="favorites" class="dropdown-menu dropdown-menu-right pull-right" style="white-space: normal;">
        {{#each favorites}}
            <li>
                <a href="{{pathFor 'postPage' this}}">
                    {{object}}
                </a>
            </li>
        {{/each}}
        <li style="text-align: center">
            <a href="#">
                View all
            </a>
        </li>
    </ul>

</template>
