<template name="footer">

        <ul>
            <li title="Beer me, plzzz!">
                <div class="btn-group dropup">
                    <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        <span class="sr-only">Show Donation Page</span>
                    </a>
                    <div class="dropdown-menu">
                        {{> donate}}
                    </div>
                </div>
            </li>
            <li title="Chat it up in dis b1tch">
                <div class="btn-group dropup">
                    <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-phone-alt"></span>
                        <span class="sr-only">Chat it up in dis bitch</span>
                    </a>
                    <div class="dropdown-menu">
                        {{> chat}}
                    </div>
                </div>
            </li>
            <li title="Contact a mufucka">
                <div class="btn-group dropup">
                    <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="sr-only">Contact a mufucka</span>
                    </a>
                    <div class="dropdown-menu">
                        {{> contact}}
                    </div>
                </div>
            </li>
            <li title="Like this bitch on Facebook">
                <a href="http://facebook.com/whatuhatin" rel="external">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </a>
            </li>
            <li title="Follow my shit & retweet it">
                <a href="http://twitter.com/whatuhatin" rel="external">
                    <span class="glyphicon glyphicon-retweet"></span>
                </a>
                </div>
            </li>
            <li title="Peep da traffic stats">
                <div class="btn-group dropup">
                    <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-stats"></span>
                        <span class="sr-only">Peep da traffic stats</span>
                    </a>
                    <div class="dropdown-menu">
                        Stats output here
                    </div>
                </div>
            </li>
            <li title="Search fir ish">
                <div class="btn-group dropup">
                    <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="sr-only">Search fir ish</span>
                    </a>
                    <div class="dropdown-menu">
                        {{> search}}
                    </div>
                </div>
            </li>
            <li title="Get some fucking help">
                <div class="btn-group dropup">
                    <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <span class="sr-only">Get some fucking help</span>
                    </a>
                    <div class="dropdown-menu">
                        {{> help}}
                    </div>
                </div>
            </li>
        </ul>
</template>
