<template name="home">

    <div id="site-messages">
        {{> errors}}
    </div>
    <div id="site-meta">
        <div id="site-logo">
            <a title="I need a fuckin' logo, want to make it?  Click the pencil at the bottom and let me know!  Or click this bitch hurr to return to the home page" href="/">
                <span class="glyphicon glyphicon-fire"></span>
            </a>
        </div>

        {{loginButtons align="right"}}

        {{!-- Put all these in Strings! --}}
        {{#if currentUser}}
            {{#if hasActivityLog}}
                <div id="site-tour" class="dropdown">
                    <a title="View your activity" class="dropdown-toggle" data-toggle="dropdown">
                        <span title="View your activity'" class="glyphicon glyphicon-user"></span>
                    </a>
                    {{> activitylog}}
                </div>
            {{/if}}
            {{#if hasFavorites}}
                <div id="site-tour" class="dropdown">
                    <a title="Peep ur favvz" class="dropdown-toggle" data-toggle="dropdown">
                        <span title="Peep ur favvz'" class="glyphicon glyphicon-star"></span>
                    </a>
                    {{> favorites}}
                </div>
            {{else}}
                <div id="site-tour">
                    <a title="U no haz favzzz" href="#">
                        <span title="U no haz favzzz'" class="glyphicon glyphicon-star-empty"></span>
                    </a>
                </div>
            {{/if}}
            {{#if hasNotifications}}
                {{!-- shake it once in a while --}}
                <div id="site-tour" class="dropdown">
                    <a title="Can haz notificatez" class="dropdown-toggle" data-toggle="dropdown">
                        <span title="Can haz notificatez" class="glyphicon glyphicon-bell"></span>
                    </a>
                    {{> notifications}}
                </div>
            {{/if}}
        {{else}}
            <div id="site-tour">
                <a title="Take a Tour" href="#">
                    <span title="Tour dis bit'" class="glyphicon glyphicon-road"></span>
                </a>
            </div>
        {{/if}}
    </div>
    <div id="site">
        <div id="new-post-container">
            {{> postNew}}
        </div>
        <div id="content-container">
            {{yield}}
        </div>
        <div id="site-footer">
            {{> footer}}
        </div>
    </div>

</template>
