<template name="notifications">

    <ul id="notifications" class="dropdown-menu dropdown-menu-right pull-right">
        {{#each notifications}}
            <li>
                <a href="{{pathFor 'postPage' this}}">
                    {{object}}
                </a>
            </li>
        {{/each}}
        <li style="text-align: center">
            <a href="#">
                View all
            </a>
        </li>
    </ul>

</template>
