html, body {
    background-color: #500;
}
a {
    color: gold;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.note {
    clear: both;
    font-size: .8em;
    text-align: right;
}
:hover {
    color: red;
}
a:active,
:active,
a:visited,
:visited {
    color: gold;
}
#site-meta {
    line-height: 1.5em;
    margin: .5em auto;
    max-width: 720px;
}
#site-logo {
    float: left;
}
#site-tour {
    float: right;
    margin: 0px 2em 0px 0em;
}
#activitylog,
#favorites,
#notifications {
    background-color: #877;
    border: 1px solid #ffd700;
    font-size: .9em;
    right: 0px;
    top: 85%;
}
#site-meta a:active,
#site-meta a:hover {
    color: white;
    text-decoration: none;
}
#login-buttons {
    float: right;
    line-height: 1.5em;
}
#login-buttons a {
    text-decoration: none;
}
#search-container {
    display: none;
    float: right;
}
#site {
    background-color: #dde;
    clear: both;
    margin: 1em auto;
    max-width: 720px;
}
#content-container {
    margin-bottom: 2em;
    width: 100%;
}
#login-dropdown-list,
#login-dropdown-list :hover {
    background-color: #877;
    border-color: #511;
    color: gold;
}
#login-buttons .login-button {
    background-color: #722;
}
