<template name="comments">

    <div class="post-comments">
        <div class="comments-container">
            {{> newComment}}
            {{#each comments}}
                {{> comment}}
            {{/each}}
        </div>
    </div>

</template>

<template name="comment">

    <div class="comment-container">
        <div class="comment-stamp">
            <span title="{{date}}" class="glyphicon glyphicon-time"></span>
        </div>
        {{#if ownComment}}
            <div class="comment-edit">
                <span title="Edit this" class="glyphicon glyphicon-edit"></span>
            </div>
        {{/if}}
        <div class="comment-flag-holder">
        </div>
        <div class="comment-flag">
            &times;
        </div>
        <p class="comment">
            {{#if anonymous}}
                Anonymous user
            {{else}}
                {{username}} 
            {{/if}}
            sayz
            {{comment}}
        </p>
        <span class="comment-hate">
            <button title="Hate on it" class="hate-comment" type="button" 
                    {{#if ownPost}} disabled="disabled"{{/if}}>
                <span class="glyphicon glyphicon-thumbs-down"></span>
                <span class="num-haters">{{haters}}</span>
            </button>
        </span>
    </div>

</template>
