<template name="contact">

    <div id="contact">
        <input    name="name" id="contact-name" type="text" value="{{promptName}}" class="form-control" />
        <input    name="mail" id="contact-mail" type="text" value="{{promptMail}}" class="form-control" />
        <textarea name="mesg" id="contact-mesg" class="form-control">{{promptMesg}}</textarea>
    </div>

</template>
