#chat-lines {
    background-color: white;
    height:17em;
    overflow-y: scroll;
    padding: .3em .2em;
    width:22em;
}
#site-footer .chat-moment {
    color: grey;
}
#site-footer .chat-username {
    color: red;
}
#site-footer .chat-text {
    color: black;
}
#site-footer #chat-input {
    color: black;
    margin-top: .8em;
}
