<template name="chat">

<form id="chat">

    <div id="chat-lines" class="form-control">
        {{#each lines}}
            <div class="chat-line">
                {{#if isAdmin}}
                    <span class="chat-remove">&times;</span>
                {{/if}}
                <span class="chat-moment">{{moment}}</span>
                <span class="chat-username">{{username}}</span>
                <span class="chat-text">{{line}}</span>
            </div>
        {{/each}}
    </div>

    <input id="chat-input" class="form-control" type="text" value="{{prompt}}" />

</form>

</template>
