<template name="donate">

    <div class="footer-flyout-content" id="donate">
        <p>
            Dig this shit?  Sport me a b33rz.  Prolly buy weed doh.
            Srsly, ey3d rly dig it tho cuz I been eatin' saltines
            da whole time I made this hurrrr.  Hook a brutha up!
        </p>
        <ul>
            <li>
                <a href="https://flattr.com/submit/auto?user_id=whatihate&url=http%3A%2F%2Fwww.whatihate.us" target="_blank"><img src="//api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
            </li>
            <li>
                <span data-gittip-username="whatuhatin"
                    data-gittip-widget="button"
                    src="//gttp.co/v1.js"></span>
            </li>
            <li>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="BKNS7RYNBPJ74">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </li>
            <li>
                <a class="coinbase-button" data-code="01ca91cf14e134e735832eb33fc3e7a8" data-button-style="donation_small" href="https://coinbase.com/checkouts/01ca91cf14e134e735832eb33fc3e7a8">Donate Bitcoins</a>
            </li>
            <li>
                <a href="bitcoin:1EhuP2q3EN8hNaeFFssHFMWSoptzGEYNrq?amount=0.02&label=Donation&message=Thanx!%21" title="Can Haz Bitcoin!">BTC Direct!</a>
            </li>
            <li>
                <a href="litecoin:LLZabmBE4pNik6apoPqd2qBh699Zh9Pp43?amount=0.50&label=Donation&message=Thanx!%21" title="Haz Litecoin?">Haz Litecoin?</a>
            </li>
        </ul>
    </div>

</template>
