<template name="help">

    <p>Seriously, you need help??</p>
    <p>This whole site was made by typing keystrokes into empty text files.  Graphics suck.</p>
    <p>
        Also, GUIs suck. Fonts suck.  The economy sucks.  Globalism sucks.  Politics suck.
        Restrictions on speech suck.  PC sux.  Everyone wearing helmets sucks.
        Life is beautiful.  Go outside.  Freedom of speech is glorious, feel comforted
        to be provided a place you can still feel free.  Hate some shit.
    </p>

</template>
