<template name="stats">
    <dl>
        <dt>
            Full Page Loads
        </dt>
        <dd>
            {{fullPageLoad}}
        </dd>
    </dl>
    <a id="first-post-link" href="#">First post</a>
</template>
