#new-post-container {
    background-color: #baa;
    border-bottom: 1px solid grey;
}
#new-post-rollover-minus,
#new-post-rollover-plus {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}
#new-post-rollover-minus:hover,
#new-post-rollover-plus:hover {
    color: gold;
    cursor: pointer;
}
#new-post-rollover-minus {
    background-color: green;
    display: none;
}
#new-post-form {
    display: none;
}
#new-post-form fieldset {
    margin: .5em auto;
    width: 80%;
}
#new-post-form label {
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
}
#new-post-form a {
}
#new-post-form input[type="text"] {
    clear: both;
    display: block;
    margin-bottom: .1em;
    width: 100%;
}
#new-post-form textarea {
    clear: both;
    display: block;
    height: 10em;
    margin-bottom: .1em;
    width: 100%;
}
#new-post-anonymous-container {
    text-align: right;
}
#new-post-anonymous-label {
    display: inline;
}
#new-post-anonymous {
    font-size: .8em;
}
#new-post-form input[type="checkbox"] {
    bottom: .25em;
    cursor: pointer;
    position: relative;
}
#posts-container {
    padding-bottom: 1em; 
}
.post-container {
    background-color: #baa;
    margin: 1em auto;
    margin-bottom: 0px;
    width: 80%;
}
.post-meta {
    background-color: #877;
    height: 1.6em
}
.post-favorite,
.post-favorited,
.post-link,
.post-flag,
.post-edit,
.post-stamp {
    color: white;
    cursor: pointer;
    float: left;
    font-size: .8em;
    margin: .25em .4em; 
    position: relative;
    top: -.1em;
}
.post-flag {
    display: none;
    float: right;
    margin: .25em 1em; 
    position: relative;
    top: 0px;
}
.post-edit:hover,
.post-favorite:hover,
.post-favorited:hover,
.post-link:hover,
.post-flag:hover {
    color: gold;
}
.post-stamp {
    cursor: default;
}
.post {
    clear: both;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    margin: .5em 2em 1em 2em; 
}
.post-target {
    color: yellow;
    font-style: italic;
}
.post-reason {
    color: yellow;
    font-style: italic;
}
.post-hates {
    font-size: .8em;
    margin: .25em 1em; 
}
.post-hates a,
.post-stamp a {
    color: white;
}
.post-social {
    background-color: #877;
    font-weight: bold;
    font-size: .8em;
    height: 1.7em;
}
.post-social span {
    margin-right: .5em;
}
#posts-load-more {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 1em;
    text-align: center;
}
#posts-load-more:hover {
    color: gold;
    cursor: pointer;
}
#posts-load-more a {
    color: white;
}
#posts-load-more a:hover {
    color: white;
}
.post-share-hate button {
    background-color: #722;
    border: 0 none;
    cursor: pointer;
    height: 1.7em;
    float: left;
}
.share-dis,
.hate-comment,
.hate-on-it {
    color: white;
}
.hate-comment,
.hate-on-it {
    width: 6em; 
}
.share-dis {
    padding-top: .1em;
    text-align: center;
    width: 4em; 
}
.show-rags {
}

.post-share .dropdown-menu {
    background-color: #722;
    border: 1px solid #400;
    border-bottom: 1px solid #511;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: gold;
    margin: 0px auto;
    padding: .6em .5em;
    text-align: center;
}
.post-share .dropdown-menu ul {
    margin: 0px 0px;
    padding: 0px 0px;
}
.post-share .dropdown-menu li {
    display: block;
    margin: 0px 0px;
    padding: 0px 0px;
}
.post-share a {
    padding: .25em .6em;
}
