<template name="post">
    <div class="post-container">
        <div class="post-flag-container">
            <div class="post-meta">
                <div class="post-link">
                    <a title="Just peep this bitch" href="{{pathFor 'postPage'}}">
                        <span class="glyphicon glyphicon-link"></span>
                    </a>
                </div>
                <div class="post-stamp">
                    <span title="{{date}}" class="glyphicon glyphicon-time"></span>
                </div>
                {{#if isFavorite}}
                    <div class="post-favorited">
                        <span title="Remove from your favorites" class="glyphicon glyphicon-star" style="color: gold"></span>
                    </div>
                {{else}}
                    <div class="post-favorite">
                        <span title="Favorite this" class="glyphicon glyphicon-star-empty"></span>
                    </div>
                {{/if}}
                {{!-- #if ownPost
                    <div class="post-edit">
                        <span title="Edit this" class="glyphicon glyphicon-edit"></span>
                    </div>
                {{/if --}}
                <div class="post-flag">
                        <span title="Fuck this" class="glyphicon glyphicon-trash"></span>
                </div>
            </div>
            <p class="post">
                {{#if anonymous}}
                    Anonymous user
                {{else}}
                    {{username}} 
                {{/if}}
                {{action}}
                <span class="post-target">{{target}}</span> 
                {{conjunction}}
                <span class="post-reason">{{reason}}</span> 
            </p>
        </div>
        <div class="post-social">
            <div title="Hide rags" class="comment-contractor">
                <span class="glyphicon glyphicon-chevron-up"></span>
                <span class="num-rags">{{comments}}</span>
            </div>
            <div title="Show rags" class="comment-expander">
                <span class="glyphicon glyphicon-comment"></span>
                <span class="num-rags">{{comments}}</span>
            </div>
            <div class="post-share-hate">
                <button title="Hate on it" class="hate-on-it" type="button">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    <span class="num-haters">{{haters}}</span>
                </button>
                <div class="btn-group dropup post-share">
                    <button title="Share dis hurr" type="button" class="dropdown-toggle share-dis" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-send"></span>
                        <span class="sr-only">Get some fucking help</span>
                    </button>
                    {{!-- can remove pull-right after upgrading to BS3 --}}
                    <div class="dropdown-menu .dropdown-menu-right pull-right post-share-networks">
                        <ul>
                            <a href="#">
                                <span title="Like dis shit" class="glyphicon glyphicon-thumbs-up"></span>
                            </a>
                            <a href="#">
                                <span title="Plus 1 a mothafucka" class="glyphicon glyphicon-plus"></span>
                            </a>
                            <a href="#">
                                <span title="Tweetz dis bitch" class="glyphicon glyphicon-retweet"></span>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{> comments}}
    </div>
</template>
